Options -Indexes

<IfModule mod_authz_core.c>
    <Directory "includes">
        Require all denied
    </Directory>
</IfModule>
<IfModule !mod_authz_core.c>
    <Directory "includes">
        Order deny,allow
        Deny from all
    </Directory>
</IfModule>
